body { 
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#banner { 
  margin: 0 -0.0em -0.3em -0.1em;
  overflow:hidden;
  }
  
  #banner img { 
    width: 100%;
    }
    
    #ban-container {
      margin-right:auto;
    }
    
    #ban-wrapper { 
      overflow:hidden;
    }
  
:root{
--hauteur-menu: 60px;
}
* {
margin: 0px;
padding: 0px;
font-family: Montserrat, sans-serif;
}

nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
  }

  nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
  }
   
  nav ul {
    list-style-type: none;
  }
  
  nav > ul > li {
    background-color:  #e8daef ;
    position: relative;
    height: 100%;
    flex: 1;
  }

  nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  li a {
    text-decoration: none;
    color: black;
  }
  
  .menu-deroulant > a:after{
    content: '❯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
  }

  .sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color:   #d2b4de  ;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
  }
  
  .sous-menu > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
  }

nav > ul > li:hover > a{
  color: #2169EC;
}

.sous-menu > li:hover {
background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li:hover > a {
color: white;
}

@keyframes rotationFleche {
0% {
    transform: rotate(0deg);
}
100%{
    transform: rotate(90deg);
}
}

.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
  }

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}



.active {
background-color: #4CAF50;
}

.titre{
    display: flex;
    flex-direction: column;
    background-color: #E38EDE;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left: 1em;
    margin-bottom: 2em;
    margin-top: 1em;
}

/*
.brochure {
    width: 600px;
    height: auto;
}
*/
/* Partie CSS page animation*/

.corps_animation{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.lan_animation{
    display:flex;
    flex-direction: row;
    background-color: #5CC8FF;
    margin: 2em;
}

.img_lan_anim{
    display:flex;
    justify-content: center;
    background-color: white;
    margin: 2em;
    padding: 2em;
}

.desc_lan_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
    padding-left: 5em;
}

.cosplay_animation{
    display:flex;
    flex-direction: row;
    background-color: #4A66E0;
    margin: 2em;
}

.img_cosplay_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
}

.desc_cosplay_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
    padding-right: 5em;
}

.danse_animation{
    display:flex;
    flex-direction: row;
    background-color: #5CC8FF;
    margin: 2em;
}

.img_danse_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
}

.desc_danse_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
    padding-left: 5em;
}

.stands_animation{
    display:flex;
    flex-direction: row;
    background-color: #4A66E0;
    margin: 2em;
}

.img_stands_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
}

.desc_stands_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
    padding-right: 5em;
}

/* Partie CSS page Lieu */

.corps_lieu{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.desc_lieu{
    display: flex;
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.info_lieu{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    background-color: #4A66E0;
    margin: 2em;
}

.map_lieu{
    display: flex;
    background-color: white;
    margin: 2em;
    padding: 1em;
}

.carte_lieu{
    display: flex;
    background-color: white;
    margin: 2em;
    padding: 1em;
}
#formulaire_contacte{
  display: flex;
  margin: 10em;
  flex-direction: row;
}
#premierecolonne{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#premierecolonne{
  display: flex;
  flex-direction: column;
}