
/* général */

:root{
--hauteur-menu: 60px;
}

* {
margin: 0px;
padding: 0px;
}

body, html{height:100%;}
  
body { 
  overflow-x: hidden;
  background: radial-gradient(#e66465, #9198e5);
  font-family: 'dosis';
  font-size: 1.4em;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #343633; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #4A66E0; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #4A66E0; /* creates padding around scroll thumb */
}
* {
  scrollbar-width: thin;
  scrollbar-color: #4A66E0 #343633;
}

#main{
  min-height:100%;
  margin:0 auto;
  position:relative;
  }

h1 { 
  display: none; 
}
h2 {
  text-transform: uppercase;
  font-family: 'dolcevita';
  font-size: 2.5em;
  margin: 0;
  }

.titre{
  display: flex;
  flex-direction: row;
  background-color: #343633;
  color: white;
  font-family: 'Unique';
  padding: 0.5em;
  padding-left: 1em;
  margin-bottom: 3em;
  justify-content: center;
  font-size: 32px;
}

.espace {
  padding:1em;
}

/* header */

/* Bannière */
#banner { 
margin: 0 0em -0.3em -0.1em;
overflow:hidden;
}

#banner img { 
width: 100%;
}

#ban-container {
margin-right:auto;
}

#ban-wrapper { 
overflow:hidden;
}
  

/* navbar */
nav {
    width: 100%;
    font-size: 32px;
    position: sticky;
    top: 0;
    position: relative;
  }

  nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
  }
   
  nav ul {
    list-style-type: none;
  }
  
  nav > ul > li {
    background-color:  #e8daef ;
    position: relative;
    height: 100%;
    flex: 1;
  }

  nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Unique';
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  li a {
    text-decoration: none;
    color: black;
  }
  
  .menu-deroulant > a:after{
    content: '❯';
    font-size: 24px;
    margin-left: 7px;
    display:inline-block;
    line-height: 0px;
  }

  .menu-deroulant > a{
    padding: 0em 0em 0em 0em;
  }

  .sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color:   #d2b4de  ;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
  }
  
  .sous-menu > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
    font-family: 'Unique';
  }

nav > ul > li:hover > a{
  color: #2169EC;
}

.sous-menu > li:hover {
background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li:hover > a {
color: white;
}

@keyframes rotationFleche {
0% {
    transform: rotate(0deg);
}
100%{
    transform: rotate(90deg);
}
}

.menu-deroulant:hover > a::after{
    animation: rotationFleche 0.2s linear forwards;
  }


@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

/* footer */

footer { 
  bottom: 0;
  position: absolute;
  width:100%;
  height:0;
}

.footer-basic {
  padding:40px 0;
  background-color:#343633;
  color:#ffffff;
}

.footer-basic ul {
  display:flex;
  justify-content: center;
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


/* Accueil */


.corps_accueil {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 5%;
  margin-right: 5%;
  border: 1em solid #37388B;
  border-style: solid;
  background-color: #5CC8FF;
  background: radial-gradient(rgb(226, 249, 255), #5CC8FF);
  font-family: 'Open Sans', sans-serif;
}

.brochure {
    width: 200%;
    height: 100%;
    margin-left: 0ex;
    border: 1em solid #37388B;
}

.text_accueil 
{
  padding-left: 1em;
  padding-right: 1em;
  border: 1ex solid #37388B;
  display: flex;
  flex-direction: column;
}

.text_accueil h3
{
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-family: Unique;
  font-size: 40px;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.text_accueil p {
  font-size: 32px;
  text-shadow: 1px 2px 3px rgba(0,0,0, .7);
}

.text_accueil ul {
  font-size: 100px;
  list-style: none;
  margin-left: 1.7ex;
  line-height: 50%;
  text-shadow: 1px 2px 3px rgba(0,0,0, .7);
}

.text_accueil li#JV { 
  list-style:url(../images/icones/game-controller.svg);
}
.text_accueil li#just_dance { 
  list-style:url(../images/icones/musical-notes.svg);
}
.text_accueil li#anim { 
  list-style:url(../images/icones/film.svg);
}
.text_accueil li#cosplay { 
  list-style:url(../images/icones/shirt.svg);
}
.text_accueil li#concert { 
  list-style:url(../images/icones/mic.svg);
}

.text_accueil li span {
  font-size: 36px;
}

p.dotted
{ 
  border-bottom: 3px dashed black;
  font-family:'Courier New', Courier, monospace;
  width: 100%;
  align-self: center;
  margin-bottom: 1em;
}



/* Concert */ 

.corps_accueil video {
  width: 200%;
  height: 100%;
  margin-left: 0ex;
  border: 1ex solid #37388B;
}


.controlsContainer { 
  --clickToPlay-size: 0em !important; 
}


/* Partie CSS page animation*/

.corps_animation{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
    padding-bottom: 5em;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.lan_animation{
    display:flex;
    flex-direction: row;
    background-color: #5CC8FF;
    margin: 2em;
}

.img_lan_anim{
    display:flex;
    justify-content: center;
    background-color: white;
    margin: 2em;
    padding: 2em;
}

.desc_lan_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
    padding-left: 5em;
}

.cosplay_animation{
    display:flex;
    flex-direction: row;
    background-color: #4A66E0;
    margin: 2em;
}

.img_cosplay_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
}

.desc_cosplay_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
    padding-right: 5em;
}

.danse_animation{
    display:flex;
    flex-direction: row;
    background-color: #5CC8FF;
    margin: 2em;
}

.img_danse_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
}

.desc_danse_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
    padding-left: 5em;
}

.stands_animation{
    display:flex;
    flex-direction: row;
    background-color: #4A66E0;
    margin: 2em;
}

.img_stands_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
}

.desc_stands_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
    padding-right: 5em;
}

/*css de la billeterie et exposants*/
.content-box_tarifs{
  display: flex;
  margin: 2em;
  margin-bottom: 6em;
  margin-top: 6em;
  background: #e8daef;
  justify-content: space-around;
  padding: 2%;
}
.content-box_tarifs img{
  height:15em;
  width:auto;
}

.content-box-form{
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 2em;
  box-sizing: initial;
  background: #e8daef;
}
.choix_ticket{
  display: flex;
  padding: 1em;
}
.content-box_nom{
  display: flex;
  padding: 1em;
  flex-direction: row;
}
.content-box_cb{
  padding: 1em;
  display: flex;
  flex-direction: row;
}

.bouton_submit{
  display: flex;

  padding-top: 1em;
}
input,select{
  font-size:20px;
}


/* Partie CSS page Lieu */

.corps_lieu{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.desc_lieu{
    display: flex;
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.info_lieu{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    background-color: #6eafdb;
    margin: 5em;
    margin-left: 5em;
    margin-right: 5em;
}

.map_lieu{
    display: flex;
    background-color: white;
    margin: 2em;
    padding: 1em;
}

.carte_lieu{
    display: flex;
    background-color: white;
    margin: 2em;
    padding: 1em;
}

/*CSS contctez-nous*/

.contactez-nous{
  color: 343833;
}

#formulaire_contacte{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-left: 20em;
  margin-right: 20em;
  margin-top: 4em;
  padding: 2em;
  flex-direction: row;
  border-radius: 5px;
}
#premierecolonne{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#premierecolonne{
  display: flex;
  flex-direction: column;
}

/*CSS FAQ*/

.Q{
  display: flex;
  justify-content: flex-start;
  margin-right: 2em;
}

.R{
  display:flex;
  justify-self: flex-end;
  margin-right: 1em;
}

/* FAQ */
.corps_faq{
  font-family: 'Open Sans', sans-serif;
}
.gen_faq{
  display: flex;
  flex-direction: column;
  background-color: #4A66E0;
  margin-left: 8em;
  margin-right: 8em;
  margin-bottom: 2em;
  box-shadow: 60px -16px #343633;
}

.titre_gen_faq{
  display: flex;
  margin: 1em;
}

.gen_question{
  display: flex;
  flex-direction: column;
  align-items: space-around;
  margin: 1em;
}

.question1{
  display: flex;
  padding: 1em;
  margin: 0.5em;
  background-color: white;
}

.question2{
  display: flex;
  padding: 1em;
  margin: 0.5em;
  background-color: white;
}

.question3{
  display: flex;
  padding: 1em;
  margin: 0.5em;
  background-color: white;
}

.exp_faq{
  display: flex;
  flex-direction: column;
  background-color: #4A66E0;
  margin-left: 8em;
  margin-right: 8em;
  margin-bottom: 2em;
  box-shadow: 60px -16px #343633;
}

.titre_exp_faq{
  display: flex;
  margin: 1em;
}

.exp_question{
  display: flex;
  flex-direction: column;
  align-items: space-around;
  margin: 1em;
}

.question4{
  display: flex;
  padding: 1em;
  margin: 0.5em;
  background-color: white;
}

.question5{
  display: flex;
  padding: 1em;
  margin: 0.5em;
  background-color: white;
}







