.Titre {
    color: rgb(19, 107, 38);
    padding-left:2rem;
    padding-top: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.active {
    background-color: #4CAF50;
}

.navbar {
    list-style-type: none;
    margin-left:-1rem;
    margin-right: -1rem;
    padding: 0;
    font-family: 'Open Sans', sans-serif;   
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    overflow: hidden;
    background-color: #333;
    display:flex;
    justify-content:center;
}

.navbar li { 
/*        display: inline; */
        float: left;
}

.navbar li a { 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}


.brochure {
    width: 600px;
    height: auto;
}

.titre_animation{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left: 1em;
    margin-bottom: 2em;
}

.corps_animation{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.lan_animation{
    display:flex;
    flex-direction: row;
    background-color: #333;
    margin: 2em;
}

.img_lan_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
}

.desc_lan_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
    padding-left: 5em;
}

.cosplay_animation{
    display:flex;
    flex-direction: row;
    background-color: #333;
    margin: 2em;
}

.img_cosplay_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
}

.desc_cosplay_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
    padding-right: 5em;
}

.danse_animation{
    display:flex;
    flex-direction: row;
    background-color: #333;
    margin: 2em;
}

.img_danse_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
}

.desc_danse_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
    padding-left: 5em;
}

.stands_animation{
    display:flex;
    flex-direction: row;
    background-color: #333;
    margin: 2em;
}

.img_stands_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
}

.desc_stands_anim{
    display:flex;
    background-color: white;
    margin: 2em;
    padding: 2em;
    padding-right: 5em;
}