
@media (min-width: 100px) and (max-width: 700px)
{ 
    nav {
        font-size: 12px;
      }
    .menu-deroulant > a:after{
    font-size: 10px;
    }
    .titre{
        font-size: 12px;
      }
    :root{
        --hauteur-menu: 20px;
    }

    /* background blue pour petit écran pour accueil et concert */
    .i_am_blue { 
      background: #37388B;
    }

    /* accueil */
    .background_blue {
        background-color: #37388B;
        margin-top:-11ex;
        
        margin-bottom: -7em;
        padding-bottom: 1em;
      }

    .corps_accueil {
        margin-top: 3em;
        margin-left: 0%;
        margin-right: 0%;
        border: 1ex solid #37388B;
        flex-direction: column;
    }
    
    .brochure {
        width: auto;
        height: auto;
        margin-left: 0ex;
        border: 1ex solid #37388B;
    }
    
      .text_accueil h3
      {
        margin-top: 0.9em;
        margin-bottom: 0.2em;
        font-size: 34px;
      }

      p.dotted
    { 
        border-bottom: 3px dashed black;
        font-family:'Courier New', Courier, monospace;
        width: 100%;
        align-self: center;
        margin-bottom: 1em;
    }
      
      .text_accueil p {
        font-size: 26px;
      }
      
      .text_accueil ul {
        font-size: 95px;
        margin-left: 1.5ex;
        line-height: 20%;
        margin-bottom: 1ex;
      }
  
      .text_accueil li span {
          font-size: 22px;
        }
        .corps_accueil video {
          width: auto;
          height: auto;
        }
  /* Billeterie - Exposants */ 
  .content-box_tarifs img{
    height:4em;
    width:7em;
  }

  /* concert */
  .concert > .corps_accueil > .text_accueil > p { 
    font-size: 20px;
  }
  .corps_accueil > ul{
    padding:1ex;
  }
  .NTNT_Team{
    font-size: 10px;
  }
  .concert li{
    margin: 0.1em;
  }
  .concert li p{
    font-size:15px;
    border-radius: 0% 0% 0% 0%;
  }
  .text_concert h3
  {
    font-size: 25px;
  }
  .text_concert li {
    font-size: 20px;
  }
  .evenement{
    font-size: 25px !important;
    line-height: 100%;
  }
  .heure{
    line-height: 100%;
  }
  .lieu{ 
    line-height: 100%;
  }
  .text_concert 
  {
  padding-left: 1ex;
  padding-right: 1ex;
  }
  /* contactez nous */ 
  .contactez-nous h3{
    font-size:20px;
  }
  .contactez-nous {
    font-size:10px;
  }
}

@media (min-width: 700px) and (max-width: 1000px)
{ 
    nav {
        font-size: 16px;
      }
    .menu-deroulant > a:after{
    font-size: 14px;
    }
    .titre{
        font-size: 16px;
      }
    :root{
        --hauteur-menu: 30px;
    }

    /* background blue pour petit écran pour accueil et concert */
    .i_am_blue { 
      background: #37388B;
    }

    /* accueil */
    .background_blue {
        background-color: #37388B;
        margin-top:-11ex;
        
        margin-bottom: -7em;
        padding-bottom: 1em;
      }

    .corps_accueil {
        margin-top: 3em;
        margin-left: 0%;
        margin-right: 0%;
        border: 1ex solid #37388B;
        flex-direction: column;
    }
    
    .brochure {
        width: auto;
        height: auto;
        margin-left: 0ex;
        border: 1em solid #37388B;
    }
    
      .text_accueil h3
      {
        margin-top: 0.9em;
        margin-bottom: 0.2em;
        font-size: 34px;
      }

      p.dotted
    { 
        border-bottom: 3px dashed black;
        font-family:'Courier New', Courier, monospace;
        width: 100%;
        align-self: center;
        margin-bottom: 1em;
    }
      
      .text_accueil p {
        font-size: 26px;
      }
      
      .text_accueil ul {
        font-size: 95px;
        margin-left: 1.5ex;
        line-height: 20%;
        margin-bottom: 1ex;
      }
  
      .text_accueil li span {
          font-size: 22px;
        }
        .corps_accueil video {
          width: auto;
          height: auto;
        }
  /* Billeterie - Exposants */ 
  .content-box_tarifs img{
    height:6em;
    width:auto;
  }
  /* concert */
  .concert > .corps_accueil > .text_accueil > p { 
    font-size: 20px;
  }
  .corps_accueil > ul{
    padding:1ex;
  }
  .NTNT_Team{
    font-size: 10px;
  }
  .concert li{
    margin: 0.1em;
  }
  .concert li p{
    font-size:15px;
    border-radius: 0% 0% 0% 0%;
  }
  .text_concert h3
  {
    font-size: 25px;
  }
  .text_concert li {
    font-size: 20px;
  }
  .evenement{
    font-size: 25px !important;
    line-height: 100%;
  }
  .heure{
    line-height: 100%;
  }
  .lieu{ 
    line-height: 100%;
  }
  .text_concert 
  {
  padding-left: 1ex;
  padding-right: 1ex;
  }
  /* contactez nous */ 
  .contactez-nous h3{
    font-size:30px;
  }
  .contactez-nous {
    font-size:10px;
  }
}


@media (min-width: 1000px) and (max-width: 1250px)
{ 
    nav {
        font-size: 20px;
      }
    .menu-deroulant > a:after{
    font-size: 16px;
    }
    .titre{
        font-size: 20px;
      }
    :root{
        --hauteur-menu: 40px;
    }

    /* accueil */
    .corps_accueil {
        margin-top: 3em;
        margin-left: 0%;
        margin-right: 0%;
        border: 0.5em solid #37388B;
      }

    .text_accueil h3
    {
      margin-top: 0.2em;
      margin-bottom: 0.1ex;
      font-size: 32px;
    }
    
    p.dotted
    { 
        border-bottom: 3px dashed black;
        font-family:'Courier New', Courier, monospace;
        width: 100%;
        align-self: center;
        margin-bottom: 0.1em;
    }

    .text_accueil p {
      font-size: 22px;
    }
    
    .text_accueil ul {
      font-size: 60px;
      margin-left: 1.7ex;
      line-height: 25%;
    }

    .text_accueil li span {
        font-size: 22px;
      }
      /* Billeterie - Exposants */ 
  .content-box_tarifs img{
    height:8em;
    width:auto;
  }

  /* concert */ 
  .concert > .corps_accueil > .text_accueil > p { 
    font-size: 20px;
  }
  .NTNT_Team{
    height:5em;
  }
  .concert li p{
    font-size:20px;
    border-radius: 0% 0% 0% 0%;
  }
  /* contactez nous */ 
  .contactez-nous h3{
    font-size:30px;
  }
}


@media (min-width: 1250px) and (max-width: 1685px)
{ 
    nav {
        font-size: 24px;
      }
    .menu-deroulant > a:after{
    font-size: 20px;
    }
    .titre{
        font-size: 24px;
      }
    :root{
        --hauteur-menu: 50px;
    }

    /* accueil */
    .corps_accueil {
        margin-top: 3em;
        margin-left: 0%;
        margin-right: 0%;
        border: 1em solid #37388B;
      }

    .text_accueil h3
    {
      margin-top: 0.2em;
      margin-bottom: 0.1ex;
      font-size: 38px;
    }
    
    p.dotted
    { 
        border-bottom: 3px dashed black;
        font-family:'Courier New', Courier, monospace;
        width: 100%;
        align-self: center;
        margin-bottom: 0.1em;
    }

    .text_accueil p {
      font-size: 26px;
    }
    
    .text_accueil ul {
      font-size: 95px;
      margin-left: 1.7ex;
      line-height: 25%;
    }

    .text_accueil li span {
        font-size: 26px;
      }
  
  /* Billeterie - Exposants */ 
  .content-box_tarifs img{
    height:8em;
    width:auto;
  }
  /* concert */ 
  .NTNT_Team{
    height:7em;
  }
}

/* lèrement inférieur à celui d'en dessous screen, pour l'accueil */
@media (min-width: 1685px) and (max-width: 1700px)
{ 
    .text_accueil h3
    {
      margin-top: 0.8em;
      margin-bottom: 0.2em;
      font-size: 38px;
    }
    
    .text_accueil p {
      font-size: 30px;
    }
    
    .text_accueil ul {
      font-size: 95px;
      margin-left: 1.7ex;
      line-height: 40%;
    }

    .text_accueil li span {
        font-size: 32px;
      }
      
}

/* lèrement inférieur à celui d'en dessous screen, pour l'accueil */
@media (min-width: 1700px) and (max-width: 1750px)
{ 
    .text_accueil h3
    {
      margin-top: 0.9em;
      margin-bottom: 0.2em;
      font-size: 38px;
    }
    
    .text_accueil p {
      font-size: 30px;
    }
    
    .text_accueil ul {
      font-size: 95px;
      margin-left: 1.7ex;
      line-height: 40%;
    }

    .text_accueil li span {
        font-size: 32px;
      }
      .content-box_tarifs img{
        height:10em;
        width:auto;
      }
}

/* lèrement inférieur à 1080p screen, pour l'accueil */
@media (min-width: 1750px) and (max-width: 1900px)
{ 
    .text_accueil h3
    {
      margin-top: 0.9em;
      margin-bottom: 0.2em;
      font-size: 38px;
    }
    
    .text_accueil p {
      font-size: 30px;
    }
    
    .text_accueil ul {
      font-size: 95px;
      margin-left: 1.7ex;
      line-height: 50%;
    }

    .text_accueil li span {
        font-size: 34px;
      }
}

/* 1080p screen */
@media (min-width: 1685px) and (max-width: 2300px)
{ 
}

/* 1440p screen */
@media (min-width: 2100px) and (max-width: 3000px)
{ 
    nav {
        font-size: 40px;
      }
    .menu-deroulant > a:after{
    font-size: 34px;
    }
    .titre{
        font-size: 40px;
      }
    :root{
        --hauteur-menu: 80px;
    }

    /* accueil */
    .text_accueil h3
    {
      margin-top: 1em;
      margin-bottom: 0.2em;
      font-size: 50px;
    }
    
    .text_accueil p {
      font-size: 40px;
    }
    
    .text_accueil ul {
      font-size: 95px;
      margin-left: 1.7ex;
      line-height: 75%;
    }

    .text_accueil li span {
        font-size: 46px;
      }
       /* concert */ 
  .NTNT_Team{
    height:13em;
  }
  .text_concert h3
  {
    font-size: 70px;
  }
  .text_concert li {
    font-size: 50px;
  }
  .evenement{
    font-size: 70px !important;
    line-height: 100%;
  }
  .heure{
    line-height: 100%;
  }
  .lieu{ 
    line-height: 100%;
  }
  .concert li p{
    font-size:30px;
    border-radius: 0% 15% 0% 0%;
  }
}

/* 4K screen */
@media (min-width: 3000px)
{ 
    nav {
        font-size: 50px;
      }
    .menu-deroulant > a:after{
    font-size: 40px;
    }
    .titre{
        font-size: 60px;
      }
    :root{
        --hauteur-menu: 100px;
    }

    /* accueil */
    .text_accueil h3
    {
      margin-top: 1em;
      margin-bottom: 0.2em;
      font-size: 50px;
    }
    
    .text_accueil p {
      font-size: 50px;
    }
    
    .text_accueil ul {
      font-size: 95px;
      margin-left: 1.7ex;
      line-height: 75%;
    }

    .text_accueil li span {
        font-size: 50px;
      }

       /* concert */ 
       .NTNT_Team{
        height:15em;
      }
      .text_concert h3
      {
        font-size: 70px;
      }
      .text_concert li {
        font-size: 50px;
      }
      .evenement{
        font-size: 70px !important;
        line-height: 100%;
      }
      .heure{
        line-height: 100%;
      }
      .lieu{ 
        line-height: 100%;
      }
      .concert li p{
        font-size:30px;
        border-radius: 0% 15% 0% 0%;
      }
  
}

@media (max-width: 1250px) {

    

    .info_lieu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #6eafdb;
        margin: 2em;
    }
        
    .map_lieu{
        display: flex;
        background-color: white;
        margin: 2em;
        padding: 1em;
    }

    .carte_lieu{
        display: flex;
        background-color: white;
        margin: 2em;
        padding: 1em;
    }
/*Page animation*/

    .lan_animation{
        display:flex;
        flex-direction: column;
        background-color: #5CC8FF;
        margin: 2em;
    }
    
    .img_lan_anim{
        display:flex;
        background-color: white;
        justify-content: center;
        margin: 2em;
        padding: 2em;
    }
    
    .desc_lan_anim{
        display:flex;
        background-color: white;
        margin: 2em;
        padding: 2em;
    }
    .cosplay_animation{
        display:flex;
        flex-direction: column;
        background-color: #4A66E0;
        margin: 2em;
    }
    
    .img_cosplay_anim{
        display:flex;
        background-color: white;
        justify-content: center;
        margin: 2em;
        padding: 2em;
    }
    
    .desc_cosplay_anim{
        display:flex;
        background-color: white;
        margin: 2em;
        padding: 2em;
    }
    .danse_animation{
        display:flex;
        flex-direction: column;
        background-color: #5CC8FF;
        margin: 2em;
    }
    
    .img_danse_anim{
        display:flex;
        background-color: white;
        justify-content: center;
        margin: 2em;
        padding: 2em;
    }
    
    .desc_danse_anim{
        display:flex;
        background-color: white;
        margin: 2em;
        padding: 2em;
        padding-left: 5em;
    }
    
    .stands_animation{
        display:flex;
        flex-direction: column;
        background-color: #4A66E0;
        margin: 2em;
    }
    
    .img_stands_anim{
        display:flex;
        background-color: white;
        justify-content: center;
        margin: 2em;
        padding: 2em;
    }
    
    .desc_stands_anim{
        display:flex;
        background-color: white;
        margin: 2em;
        padding: 2em;
    }
}

