@media (max-width: 1250px) {

    .info_lieu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #333;
        margin: 2em;
    }
        
    .map_lieu{
        display: flex;
        background-color: white;
        margin: 2em;
        padding: 1em;
    }

    .carte_lieu{
        display: flex;
        background-color: white;
        margin: 2em;
        padding: 1em;
    }
}